@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
}

.safe-area-top,
.pt-safe {
  padding-top: var(--safe-area-top);
}

.safe-area-middle-top {
  padding-top: calc(var(--safe-area-top) + 1rem);
}

.safe-area-bottom,
.pb-safe {
  padding-bottom: var(--safe-area-bottom);
}

.pb-safe-lg {
  padding-bottom: calc(var(--safe-area-bottom) + 3rem);
}