name: Build Android APK

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Build Web App
        run: npm run build

      - name: Verify Build Output
        run: ls -R dist








      - name: Print SHA-1 Fingerprint
        run: |
          chmod +x android/gradlew
          cd android && ./gradlew signingReport

      - name: Build APK (Release)
        run: |
          chmod +x android/gradlew
          cd android && ./gradlew clean assembleRelease

      - name: Rename APK
        run: mv android/app/build/outputs/apk/release/app-release.apk android/app/build/outputs/apk/release/TimeLog-v2.2-debug-${{ github.run_number }}.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-${{ github.run_number }}
          path: android/app/build/outputs/apk/release/TimeLog-v2.2-debug-${{ github.run_number }}.apk
